extends layout

block content
  .red.left.labeled.icon.vertical.ui.fixed.pointing.menu#side-menu
    a.item(href='#')#machine
      i.fa.fa-tachometer.icon
      | Machine
    a.item(href='#model')#model
      i.fa.fa-cube.icon
      | Model
    a.item(href='#settings')#settings
      i.fa.fa-wrench.icon
      | Settings
  .main
  script(src="/socket.io.js")
  script(src='/js/jquery.min.js')
  script(src='/js/main.js')
