doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootswatch/paper/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(href="/font-awesome/css/font-awesome.min.css", rel="stylesheet")
  body
    block content
