doctype html
html
  head
    title Teleprint
    meta(name="viewport", content="minimal-ui, width=device-width, initial-scale=1")
    meta(name="mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-capable", content="yes")
    title= title
    link(rel='stylesheet', href='/css/semantic.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(href="/font-awesome/css/font-awesome.min.css", rel="stylesheet")
  body
    block content
    #dialog-area
