i.icon {
  font-family: FontAwesome;
}

.fixed.left.menu {
  width: 7rem;
}

.main {
  margin-left: 7rem;
  padding: 1.5em;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child
{
  margin-top: 0;
}

input[type="file"] {
  display: none;
}

a.item {
  text-overflow: ellipsis;
}

.ui.image.with-image,
.ui.image.without-image {
  height: 12rem;
  color:rgba(0,0,0,0.7);
  text-align: center;
}

.ui.image.without-image {
  vertical-align: middle;
}

.ui.image.with-image {
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.ui.image.with-image > i {
  display: none;
}

.card > .ribbon{
  position:absolute !important;
  top:1rem !important;
  left:-1.1rem !important;
  z-index:2 !important;
}
