i.icon {
  font-family: FontAwesome;
}

.fixed.left.menu {
  width: 7rem;
}

.main {
  margin-left: 7rem;
  padding: 1.5em;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child
{
  margin-top: 0;
}

input[type="file"] {
  display: none;
}

a.item {
  text-overflow: ellipsis;
}
