.ui.grid
  .eight.wide.column(style='text-align:center;')
    div(style="width:6em;height:6em;position:relative;")
      div.rot45
        div
          a.big.teal.ui.button
            i.fa.fa-arrow-up
          a.big.teal.ui.button
            i.fa.fa-arrow-right
        div
          a.big.teal.ui.button
            i.fa.fa-arrow-left
          a.big.teal.ui.button
            i.fa.fa-arrow-down
  .eight.wide.column
    div(style='margin-bottom:0.35em;')
      a.big.purple.ui.button
        i.fa.fa-arrow-up
    div
      a.big.purple.ui.button
        i.fa.fa-arrow-down
