h2 Controls for #{machine.get('name')}

.ui.stackable.grid
  .doubling.row
    .eight.wide.column(data-view="jog")
    .eight.wide.column
  .doubling.row
    .eight.wide.column(data-view="temp")
    .eight.wide.column
  .row
    .sixteen.wide.column
      .ui.form
        .field
          label Type some gcode
          input(data-element="gcode-input")
        .field(data-element="comm-display"): pre
