.ui.ribbon.label(title='Connected', class=(machine.connected?'':'hidden')+' '+(machine.socketConnected?'green':'gray'), data-element="connection-status")
  | Connected
a.ui.image(href='#machine/'+machine.id, class=(machine.hasImage()?'with-image':'without-image'), style=(machine.hasImage()?"background-image:url("+machine.get('image')+")":''))
  i.fa.fa-cogs(style="font-size: 8rem;padding-top:2rem;")
.content
  a(data-action="edit", title="Settings for this machine"): i.right.floated.icon.fa.fa-wrench
  .header(data-field="name")= machine.get('name')
  .meta= machine.meta()
